<template name="home">
	<div class="container">
		{{#if currentUser}}
			<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<center><h1>Welcome to BikeBin</h1></center>
						<center><h3>To get started, add a bike below.  Or explore all of our submissions above.</h3></center>
						<div class="bike-list" id="home-page-buttons">
							<a href="{{pathFor 'bikeAdd'}}" class="btn btn-primary" id="btn-bike-add">Add A Bike</a>
							<a href="{{pathFor 'bikesOwned'}}" class="btn btn-primary" id="btn-bikes-owned">Your Bikes</a>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
			</div>
		{{else}}
			{{> loginMessage}}
		{{/if}}
	</div>
</template>