<template name="layout">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<div class="navbar navbar-default">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="{{pathFor 'home'}}">BikeBin</a>
	    </div>
	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	        <ul class="nav navbar-nav navbar-right">
	            <li><a href="{{pathFor 'login'}}">Login</a></li>
	        </ul>
	    </div>
	</div>
	{{> yield}}
</template>