<template name="bikeEdit">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h1>
					Edit bike
					<a class="btn btn-danger delete" id="btn-bike-delete">Delete</a>
				</h1>
				<input type="text" name="name" id="name" class="form-control bike-name" placeholder="Bike name" value="{{name}}">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				{{> bikePicture}}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{> partsListEdit}}
			</div>
		</div>

		<input type="submit" value="Submit" class="btn btn-primary" id="btn-bike-submit" />
		<footer></footer>
	</div>
</template>