<template name="bikeEdit">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h1>Edit bike</h1>
				<input type="text" class="form-control bike-name" placeholder="Bike name">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				{{> bikePicture}}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{> partsList}}
			</div>
		</div>

		<a class="btn btn-primary" id="btn-bike-submit">Submit</a>
		<footer></footer>
	</div>
</template>