<template name="bikeAdd">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h1>Add Bike</h1>
				<input type="text" name="name" class="form-control bike-name" id="name" placeholder="Bike name">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<input accept="image/*" type="file" class="file_bag">
				<textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>
				<input type="button" value="Create" class="btn btn-primary" id="btn-bike-create">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{> partsList}}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
		</div>
		<footer></footer>
	</div>
</template>