<template name="bike">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h1>
					{{name}}
					{{#if ownPost}}<a href="{{pathFor 'bikeEdit'}}" class="btn btn-primary" id="btn-bike-edit">Edit</a>{{/if}}
				</h1>

			</div>
			<div class="col-lg-4 col-md-4 col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				{{> bikePicture}}
				<div class="well" id="description">{{description}}</div>
				<div class="input-group share-link">
					<span class="input-group-addon" id="basic-addon1">Share</span>
					<input type="text" class="form-control" placeholder="Link to share bike would be inserted here" aria-describedby="basic-addon1" value="localhost:3000{{shareLink}}">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{> components}}
			</div>
		</div>
	<footer></footer>
	</div>
</template>