<template name="components">
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Brand</h4>
			<p class="list-group-item-text">{{brand}}</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Frame</h4>
			<p class="list-group-item-text">{{frame}}</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Derailleurs</h4>
			<p class="list-group-item-text">{{derailleurs}}</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Crank</h4>
			<p class="list-group-item-text">{{crank}}</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Wheels</h4>
			<p class="list-group-item-text">{{wheels}}</p>
		</li>
		<li class="list-group-item">
			<h4 class="list-group-item-heading">Tires</h4>
			<p class="list-group-item-text">{{tires}}</p>
		</li>
	</ul>
</template>