<template name="partsList">
	<div class="parts-list">
		<div class="part-input">
			<h5>Brand</h5>
			<input id="brand" name="brand" type="text" placeholder="Brand" value="" />
			<h5>Frame</h5>
			<input id="frame" name="frame" type="text" placeholder="Frame" value="" />
			<h5>Derailleurs</h5>
			<input id="derailleurs" name="derailleurs" type="text" placeholder="Derailleurs" value="" />
			<h5>Crank</h5>
			<input id="crank" name="crank" type="text" placeholder="Crank" value="" />
			<h5>Wheels</h5>
			<input id="wheels" name="wheels" type="text" placeholder="Wheels" value="" />
			<h5>Tires</h5>
			<input id="tires" name="tires" type="text" placeholder="Tires" value="" />
			<!-- <a class="btn" id="component-remove" title="Remove this component">x</a> -->
		</div>
		<!-- <input value="Add component" class="btn btn-primary" id="btn-part-input-add"> -->
	</div>
</template>